

:root{
    --main-color:#f86011;
    --main-font-family: 'Montserrat', sans-serif; 

    --nav-font-size: 18px;
    --nav-font-weight:400;
    --nav-color: rgba(0,0,0,0.65);

    --button-hover-color: #e15002;

    --button-search-color: #e1500252;

    --card-post-background-color:#f8f9fa;
    --icon-user-color: #a7a7a790;
}

.title-article{
    margin-top: 1em;
    margin-bottom: 0;
}

.icon-user{
    color: var(--icon-user-color);
    font-size: 3em;
}

.user-name{
    margin-bottom: 0;
    font-weight: 600;
}

.span-user-date{
    font-size: 12px;
    color: var(--nav-color);
}

.image-article{
    max-height: 70vh;
    width: 100%;
    object-fit: cover;
    margin-top: .5em;
    margin-bottom: 1em;
    border-radius: 10px;
}

article{
    font-size: var(--article-font-size);
    margin-bottom: 4em!important;
}

.comments-section{
    background-color: var(--card-post-background-color);
    margin-top: 3em;
    margin-bottom: 3em;
    padding: 1em;
    border-radius: 10px;
}

.comments-section-view{
    margin-top: 4em;
    margin-bottom: 3em;
}

.button-comment{
    background-color: rgba(128, 128, 128, 0.44)!important;
    transition: background 0.3s;
   
}

.button-comment:hover{
    background-color: rgba(128, 128, 128, 0.885)!important;
}

.form-button-comment{
    margin-bottom: 2em;
}

.p-article{
    margin-bottom: 4em;
}